AddType application/manifest+json .webmanifest
AddType image/svg+xml .svg

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
