body {
    font-family: sans-serif;
    zoom: 220%;
}

input.emoji {
    width: 0px;
    border: none;
}

button {
    cursor: pointer;
    font-size: larger;
    text-align: center;
    width: 45px;
    height: 32px;
}

h1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

h3 {
    margin-top: 8px;
    margin-bottom: 3px;
}