AddDefaultCharset UTF-8

<IfModule mod_mime.c>
  AddType application/manifest+json .webmanifest
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(html|js|css|webmanifest)$">
    Header set Cache-Control "no-cache"
  </FilesMatch>

  Header always set X-Content-Type-Options "nosniff"
  Header always set Referrer-Policy "no-referrer"
  Header always set X-Frame-Options "DENY"
  Header always set Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self'; img-src 'self' data:; manifest-src 'self'; connect-src 'self'; object-src 'none'; base-uri 'none'"
</IfModule>
