/* author : Gilles Reant */
/* license: Mozilla Public License version 2.0 https://www.mozilla.org/en-US/MPL/2.0/ */

/* start dark mode */
:root {
    --background: #F0F0F0;
    --inputBackground: #F4F4F4;
    --foreground: #333;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #444;
        --inputBackground: #383838;
        --foreground: #F0F0F0;
    }
}
body, input, textarea {
    color: var(--foreground);
}
body {
    background: var(--background);
}
input, textarea {
    background: var(--inputBackground);
}
/* end dark mode */

#dispDescription {
    font-family: var(--bs-font-sans-serif); /* font defined in bootstrap */
    font-size: 0.75em;
    margin-bottom: 0;
    display: inline;
}

button {
    cursor: pointer;
}

footer {
    margin-top: 10px;
    font-size: 0.7em;
}

#dispEvent, #formMap, #eventMap {
    display: none; /* will be updated dynamically */
}

form input, form textarea {
    width: 250px;
}

img.icon {
    max-width: 20px;
    max-height: 20px;
}

td.padding {
    padding-left: 15px;
}

.shareLinks {
    margin-top: 15px;
}

label.optional {
    line-height: 65%;
}
span.optional {
    font-size: 0.5em;
    color: #888;
}

/* start calendar icon */
/* https://cssdeck.com/labs/calendar-icon https://www.sitepoint.com/create-calendar-icon-html5-css3/ */
/* Craig Buckler + Simone Sala */
time.icon {
    font-size: 0.7em; /* change icon size */
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    /*margin: 2em auto;*/
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
}

time.icon * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #fd9f1b;
    border-bottom: 1px dashed #f37302;
    box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em {
    position: absolute;
    bottom: 0.3em;
    color: #fd9f1b;
}

time.icon span {
    width: 100%;
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.65em;
    color: #2f2f2f;
}
/* end calendar icon */